<div class="container">
	
	<% if @genre.errors.any? %>
		<div class="errors">
			Total errors: <%= @genre.errors.count %>
			<ul>
				<% @genre.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= form_for @genre do |f| %>
		<div class="form-group">
			<div>
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</div>

			<div>
				<%= f.label :description %><br>
				<%= f.text_area :description %>
			</div>
			
			<div>
				<%= f.submit %>
			</div>
		</div>
	<% end %>
</div>